* {
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #191f30;
    color: white
}

main {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 10%;
    padding: 3rem;
    border: 2px solid white;
}

.component {
    padding: 3rem;
    border: 2px solid white;
}