* {
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #191f30;
    color: white
}

main {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.component {
    padding: 3rem;
    background-color: green;
}